* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15pt;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal {
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
}

.modalContent {
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #0E0E0E;
  border-radius: 15px;
}

.mapList {
  width: 100%;
  height: 83%;
  overflow-x: hidden;
}

.logoModal {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.list {
  display: flex;
  justify-content: space-between;
  border-right: 20px;
  align-items: end;
  text-align: start;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 15px;
  margin-bottom: 25px;
  color: white;
  /* box-shadow: 0 5px 10px -5px deeppink;*/
  padding: 5px;
  transition-duration: 2s
}

.textListCenter {
  width: 70%;
}

.timeListText {
  font-size: 1rem;
  color: rgb(211, 211, 211);
}

.numberTextList {
  font-size: 1rem;
  color: rgb(211, 211, 211);
}

.h {
  font-size: 0.7rem;
  color: rgb(211, 211, 211);
}

.animationText {
  text-transform: uppercase;
  animation: text 10s infinite linear;
  padding-left: 150%;
  white-space: nowrap;
}

@keyframes text {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-180%, 0);
  }
}

p {
  margin-top: 3px;
  color: grey;
  font-size: 0.8rem;
}

.btnCloceContent {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-closeModal {
  padding: 7px 35px;
  border-style: none;
  background-color: #0E0E0E;
  color: darkgrey;
  font-size: 1.5rem;
  border-radius: 24px;
  box-shadow: 0px 0 15px -1px gray;
  
}

.preloder {
  scroll: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.btn-start {
  border-style: none;
  background-color: black;
  color: whitesmoke;
  font-size: 3rem;
  font-weight: bold;
}

button {
  border-style: none;
  background-color: black;
  color: white;
}

.app {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 15px 25px 0px deeppink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 6s;
}

.app2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 15px 0 25px 0px red;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 6s;
}

.app3 {
  position: absolute;
  top: 50px;
  left: 50px;
  /*width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 50px red;
  transition-duration: 3s;*/
  width: 200px;
  height: 200px;
  background-image: url("/42543-e91e63.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(15deg);
  transition-duration: 2s;
}

.app:hover {
  box-shadow: -15px 0 25px 0px cyan;
  transform: rotate(150deg);
  transition-duration: 6s;
}

.app2:hover {
  box-shadow: 0px -15px 25px 0px red;
  transform: rotate(-150deg);
  transition-duration: 6s;
}

.play {
  width: 80%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.playList {
  position: fixed;
  top: 5px;
  right: 25px;
  font-size: 2rem;
  color: white;
}

.settings {
  position: fixed;
  top: 15px;
  left: 25px;
  color: white;
}

.contTime {
  position: relative;
  text-align: center;
  width: 100%;
}

.time {
  position: absolute;
  top: 28px;
  left: 40px;
  color: white;
  font-size: 15px;
}

.btn-eculizer {
  position: absolute;
  top: -40px;
  right: 43px;
  color: whitesmoke;
  font-size: 25px;
  z-index: 15;
}

.openCollection {
  position: absolute;
  top: -40px;
  left: 43px;
  color: whitesmoke;
  font-size: 25px;
  z-index: 15;
}

input[type="range"] {
  accent-color: deeppink;
  width: 80%;
  height: 1px;
}

.PlayPause {
  font-size: 40px;
}

.alert {
  display: none;
  position: fixed;
  bottom: 50vh;
  left: 0;
  margin: 10px;
  width: 95%;
  padding: 20px;
  border-radius: 12px;
  background-color: black;
  box-shadow: 0 0 15px 1px deeppink;
  text-align: center;
  color: deeppink;
  z-index: 500;
}



.eculizer-content {
  position: fixed;
  top: 0;
  left: -500px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 500;
}

.ecBlock {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ecBlocPult {
  position: absolute;
  bottom: 0;
  left: 0;
}

#canvas {
  width: 100%;
  height: 100vh;
}

.moduleSTracks {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 100vh;
  z-index: 200;
}

.mainModuleTracks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.moduleElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  border-radius: 8px;
  margin: 5px;
  width: 110px;
  height: 100px;
  color: whitesmoke;
  transition-duration: .5s;
}

.moduleElement:hover {
  background-color: #2E2E2E;
  color: whitesmoke;
  transition-duration: .5s;
}

.headerLogoColection {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: .8s;
}

.search {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.overflouTracks {
  width: auto;
  display: flex;

  white-space: nowrap;
  color: whitesmoke;
  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-color: deeppink deeppink;
  scrollbar-width: thin;

  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
}

.overflouColumn {
  margin-right: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  scroll-snap-align: start;
}

.elementOverflou {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-bottom: 10px;
  width: 40vh;
  height: 50px;
  border-radius: 8px;
  background-color: #171717;
}

.contentColumnState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  background-color: black;
}

.inputSearch {
  border: 0;
  outline: 0;
  border-style: none;
  width: 80%;
  height: 40px;
  padding-left: 15px;
  color: darkgrey;
  background-color: black;
  margin-right: 15px;
  border: solid 1px white;
  border-radius: 25px;
  font-size: 1.2rem;
}

.inputSearch:focus {
  outline: 5px;
  width: 80%;
  height: 40px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}


.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: .8;
  color: greenyellow;
  z-index: 900;
}

.spiner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 15px 25px 0px deeppink;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}